@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

:root {
  --primary-orange: rgb(255, 72, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: inherit;
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: 1px;
  font-size: 14px;
}

#root {
  width: 100%;
  height: 100%;
}